
<div class="container">
   <h1>New Task</h1>
   <% if @task.errors.any? %>
    <ol>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%=  msg %></li>
      <% end %>
    </ol>
  <% end %>

          <%= bootstrap_form_for @task do |f| %>
            <%= f.text_field :title, :required => true %>
            <%= f.text_area :description, :required => true %>
              <%= f.text_field :difficulty, :required => true %>
                <%= f.text_field :deadline, :required => true %>
            <%= f.submit "More" %> <%= f.submit "Done" %>
          <% end %>
</div>
